body{
    margin: 0;
    padding: 0;
    /* scroll-behavior: auto; */
}
.home-container{
    width: 30%;
    height: 811px;
     background: url(bg-main-desktop.png); 
    display: flex;
}


*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
    text-decoration: none;
    text-transform: uppercase;
}
.container-mm{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    position: absolute;
    left: 1000px;
}

.container-mm .image{
    position: absolute;
    float: right;
    right: 680px;
    margin-top: 10px;

}

.container-mm .image2{
    position: absolute;
    float: right;
    right: 599px;
    margin-top: 70%;

}

.container-mm form{
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin-top: 5rem;
}
.container-mm form .inputBox{
    margin-top: 20px;
}
.container-mm form .inputBox span{
    display: block;
    color: black;
    padding-bottom: 5px;
}
.container-mm form .inputBox input,
.container-mm form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: black;
}
.container-mm form .flexbox{
    display: flex;
    gap: 15px;
}
.container-mm form .flexbox .inputBox{
    flex: 1 1 150px;
}
.container-mm form .sunbmit-btn{
    width: 100%;
    background: #1d021d;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    break-after: 5px;
}
.container-mm form .sunbmit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}
/* .container-mm .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 400px;
    width: 250px;
} */
 .container-mm .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 6rem;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px;
} 

/* .container-mm .card-container .front image{
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    background-color: aliceblue;
} */

.container-mm .card-container .front .card-number-box{
padding: 30px 0;
}
.container-mm .card-container .front .card-box{
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
    margin-top: 5px;
}
.container-mm .card-container .front .flexbox{
    display: flex;
}
/* @media (max-width: 967px) {

    .home-container{
        margin-bottom: 5rem;
    }
}

@media (max-width: 768px) {
    .container-mm form{
        display: block;
    } */

    /* .collection .row .col h3{
       /*bottom: 15%;
       font-size: 1.5rem;
       line-height: 2rem;
    } */
/* @media screen and (min-width: 400px) {
    .home-container{
        padding: 4em;
        width: 100%;
        height: 0;
    }

    .front .image{
        padding-right: 4em;
        float: left;
    }
}
@media screen and (min-width: 992px) {
    .container-mm{
        padding: 4e9m;
    }
} */
/* @media screen  and (max-width: 500) {
    .home-container{
        display: flex;
        width: 50%;
    }
} */
